.create {
  color: #555;
  max-width: 480px;
  margin: 60px auto;
  padding: 20px;
}

.create label span {
  display: block;
  margin: 30px 0 10px;
}

.create p {
  margin-top: 10px;
  font-size: 0.8em;
}

.create button {
  display: block;
  width: 100px;
  font-size: 20px;
  color: #fff;
  padding: 8px 20px;
  border: 0;
  border-radius: 4px;
  background-color: #58249c;
  cursor: pointer;
  text-decoration: none;
  margin: 20px auto;
  font-family: Raleway, sans-serif;
}

.create button:hover {
  background-color: #d3ccdd;
  color: #58249c;
}

.create h5 {
  width: 30%;
  margin: 40px;
  margin-left: 0;
  background-color: rgb(93 231 133 / 33%);
  border-radius: 6px;
  position: absolute;
  padding: 5px;
  font-size: 0.7em;
}

.ingredients {
  display: flex;
  align-items: center;
}

.ingredients button {
  margin: 0 0 0 10px;
}

/* dark mode */
.create.dark {
  color: #fff;
}

.create.dark label input,
.create.dark label textarea {
  background-color: #222;
  caret-color: #fff;
  color: #fff;
}
